body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flat--global {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.flat--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 30px;
  max-width: 1400px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1.5vh;
}

.flat--card {
  min-height: fit-content;
  max-height: 500px;
  background-color: white;
  color: black;
  border-radius: 16px;
  justify-content: flex-start;
  box-shadow: 1px 4px 5px 1px #cccccc;
}

.flat--p {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-start;
}

.flat--p p:nth-child(1) {
  margin-bottom: -10px;
  margin-top: -8px;
}

.flat--img {
  margin-bottom: -5px;
  filter: brightness(0.8);
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 0px 0px 16px 17px;
  -webkit-border-radius: 0px 0px 16px 17px;
  -moz-border-radius: 0px 0px 16px 17px;
}

.flat--selected {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  margin-top: 3vh;
  height: fit-content;
  margin-bottom: 3vh;
}

.flat--selected h1 {
  padding-top: 2vh;
}

.img--details {
  object-fit: cover;
  border-radius: 20px;
  width: 200px;
}

.flat--selected img {
  height: fit-content !important;
}